<launch>
    <master auto="start"/>

    <!-- start receive_optitrack -->
    <arg name="mcast" default="255.255.255.255" />
    <node pkg="optitrack_person" type="receive_optitrack.sh"
        args="$(find optitrack_person)/scripts/connect_optitrack.tcl $(arg mcast)"
        name="receive_optitrack" output="screen" required="true"/>
</launch>
